<!-- <form [formGroup]="emp1" (ngSubmit)="onaddemployee()">
    <h2>Employee Data</h2>
    <div>
        <input type="text" formControlName="Name1" placeholder="Enter Name">
    </div>
    <div>
        <input type="number" formControlName="Age1" placeholder="Enter Age">
    </div>
    <div>
        <input type="date" formControlName="jd" placeholder="Enter DOB">
    </div>
    <div>
        <input type="text" formControlName="id" placeholder="Enter Contact No.">
    </div>
   <br>
    <button type="submit">Add Employee</button>
</form>
<br>
<br> -->

<section class="vh-100 gradient-custom" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <form [formGroup]="emp1" (ngSubmit)="onaddemployee()">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add New Employee</p>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" formControlName="Name1" placeholder="Enter Name" class="form-control" />
                        <label class="form-label" for="form3Example1c">Your Name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="number" formControlName="Age1" placeholder="Enter Age" class="form-control" />
                        <label class="form-label" for="form3Example3c">Your Age</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="date" formControlName="jd" placeholder="Joining Date" class="form-control" />
                        <label class="form-label" for="form3Example4c">Joining Date</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" formControlName="id" placeholder="Employee Id " class="form-control" />
                        <label class="form-label" for="form3Example4cd">Employee ID</label>
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-success btn-lg">Add Employee</button>
                    </div>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</div>
  </section>
